<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freento_Modules::freento" title="Freento" sortOrder="55">
                    <resource id="Freento_AuditReport::auditreport" title="Audit Report" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
